* {
  font-family: 'Inter', sans-serif;
}
body{
  background-color: #072136;
  margin: 0;
}

#headerContent {
  background-color: #3598aa;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom:5%;
}

.customNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customNav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.customNav ul li {
  list-style: none; 
  padding: 5px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.nav-link:hover {
  color: #EFD492;
  font-weight: bolder;
}

.navLeft, .navRight {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img#logo{
  border-radius:50%;
  margin-right: 20px;
}

#hideUntilDone {
  opacity: 0;
}

.introHeader{
  /* border:1px solid yellow; */
  display:flex;
  text-align: start;
  justify-content: start;
  padding: 10px;
}

h1{
  color: #ffffff;
}

.headerText{
  /* border: 1px solid teal; */
  max-width:fit-content;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  color: #FFE099;
  margin-top:50px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px;
}


.card {
  display:flex;
  flex-direction:column;
  align-items: stretch;
  background-color: #f2f2f2;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  gap:20px;
}

.card-main{
  display:flex;
  align-items:flex-start;
}

.card-image{
  align-self: flex-start; /* Ensure the image container doesn't stretch */
  width:50%;
  padding:0px;
}

.card-image img {
  width:100%;
  border-radius:5px;
  display:block;
}

.card-body {
  flex: 1;
}

.card-title{
  font-weight: bolder;
  color:rgb(0, 0, 0);
  font-size: 1.5em;
  margin-bottom:0;
  margin-top: 0;
}

.card-text {
  color:#a79263;
  font-style:italic;
}

.card-text, .card-title{
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.card-icons{
  margin-top: auto; 
  display:flex;
  align-items:center;
  padding-top:5px;
  border-top: 1px solid black;
}

.card-icons img{
  height: 50px;
  width: auto;
}
.projectArea {
  background-color: #072136;
  padding-left: 5%;
  padding-right: 5%;
}
.filterArea h1{
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
} 
/* .filterArea h1:hover{
  color: #EFD492;
}  */



.filterArea{
  width:fit-content;
  padding:5px;
  margin-left:10px;
  margin-bottom: 1%;
}

.btn:first-of-type{
  border-radius: .5em 0 0 .5em;
}
.btn:last-of-type{
  border-radius: 0 .5em .5em 0;
}

.btn{
  font-size: 1.5em;
  padding: .2em;
  background: #fff;
  color: #4A5568;
  border-width: 0px;
  transition: background .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease;
  box-shadow: 0 0 0 #BEE3F8;
  transform: translateY(0);
}

.multi-button:hover button{
  color: #A0AEC0;
}

.multi-button:hover button:hover{
  background: #EFD492;
  color: #fff;
  box-shadow: 0 0 0.8em 0 rgba(255, 103, 0, .8);
  transform: translateY(-.2em);
}
.multi-button:hover button i{
  color: #CBD5E0;
}
.multi-button:hover button:hover i{
  color: #FED7E2;
  transform: rotate(-10deg);
}